# Gtk Theming in 5 minutes:
# -------------------------
#
# Categories:
# -----------
# fg: Text color on buttons (also button borders in some engines)
# bg: Background color of windows and buttons
# text: Text color for text input widgets and lists
# base: Baseground color of text widgets and lists
#
#
# States:
# -------
# NORMAL: Normal color
# PRELIGHT: Mouse over effects (usually set to produce a lighter background)
# ACTIVE: Whilst mouse is pressed
# SELECTED: When text is selected
# INSENSITIVE: For widgets that cannot be used
#
# Applying styles to objects:
# ---------------------------
# There are three methods of matching objects for styling:
# - `class`
# - `widget_class`
# - `widget`
#
# `class` matches based on widget class hierarchy
#
# You can use `?` to match a single character, or `*` to match an
# arbitrary number of characters.
#
# Further Information:
# --------------------
# [Gnome Art: Gtk theming tutorial](https://wiki.gnome.org/Attic/GnomeArt/Tutorials/GtkThemes#GTK_Theming_Tutorial)


include "solarized.rc"

style "default" {
    font_name = "Terminus 10"
}

# Style for taffybar:
# * `bg[NORMAL]`: bar background
# * `bg[PRELIGHT]`: window switcher background when clicked (and highlighted
#   element in window list)
# * `fg[NORMAL]`: textual content
# * `fg[PRELIGHT]`: window switcher text when clicked (and highlighted
#   element in window list)

style "dark" = "default" {
    bg[NORMAL]        = @base03
    # Styles window switcher when clicked
    bg[PRELIGHT]      = @yellow

    # This highlights text, rather than text[NORMAL]
    fg[NORMAL]        = @base01
    fg[PRELIGHT]        = @red
}

style "light"  = "default" {
# NORMAL: Normal color
# PRELIGHT: Mouse over effects
# ACTIVE: Whilst mouse is pressed
# SELECTED: When text is selected
# INSENSITIVE: For widgets that cannot be used
    bg[NORMAL]        = @base3
    bg[PRELIGHT]      = @base1

    fg[NORMAL]        = @base00
    fg[PRELIGHT]      = @red
}

widget "Taffybar*"                style "light"
