snippet base
	---
	title:"${1}"
	layout:"${2}"
	---

snippet hl
	{% highlight ${1:type} %}
	${2:code}
	{% endhighlight %}

snippet hlinc
	{% highlight ${1:type} %}
	{% include ${2:_includes/myfile} %}
	{% endhighlight %}

snippet inc
	{% include ${1:_includes/myfile} %}
