[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "bash/.bash-it"]
	path = bash/.bash-it
	url = https://github.com/Bash-it/bash-it.git
[submodule "fish/.local/share/omf"]
	path = fish/.local/share/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
[submodule "fish/.fzf"]
	path = fish/.fzf
	url = https://github.com/junegunn/fzf.git
