[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "bash/.bash-it"]
	path = bash/.bash-it
	url = https://github.com/Bash-it/bash-it.git
[submodule "fish/.local/share/omf"]
	path = fish/.local/share/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
[submodule "pyenv/.pyenv"]
	path = pyenv/.pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "fzf/.fzf"]
	path = fzf/.fzf
	url = https://github.com/junegunn/fzf.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
