# Will display all alternatives for completion after one tab keypress
set show-all-if-ambiguous On
set completion-ignore-case on
# \e = Alt key
# Use arrow keys in partial commands to go through history
"\e[A": history-search-backward
"\e[B": history-search-forward
